streamlit==1.21.0
pandas==1.5.3
numpy>=1.23.2
scikit-learn==1.3.2
xgboost==1.7.5
catboost==1.2.7
lightgbm==3.3.5
beautifulsoup4==4.12.0
requests>=2.32.0
matplotlib==3.7.1
joblib==1.2.0
selenium==4.10.0
webdriver-manager==3.8.6
scipy==1.14.1
tensorflow==2.17.0
